/* Limit main width */
main {
    max-width: 800px;
    margin: 0 auto;
}

/* Style aside */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Image inside aside */
aside img {
    width: 150px;
    height: auto;
}

/* Profile image inside main */
main img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Reset paragraph padding */
p {
    padding: 0;
}

/* Footer styling */
footer {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    text-align: center;
}