/* Navigation bar */
nav {
    background-color: #333333;
    padding: 10px;
}

nav a {
    color: #ffffffa2;
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* Main content */
main {
    max-width: 800px;
    margin: 0 auto;
}

/* Heading */
h1 {
    color: #2c3e50;
}

/* Profile image inside main */
main img {
    width: 150px;
    height: auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

/* Aside section */
aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333;
}

/* Image inside aside */
aside img {
    width: 200px;
    height: auto;

}

/* Reset paragraph padding */
p {
    padding: 0;
}

/* Footer styling */
footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
}